*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
}



header{
    float:right;
    height:60px;
    width: 85%;
    background-color: #080b12;
    text-align: right;
}

main{
    float:right;
    width: 85%;
    height: calc(100vh - 140px);
    background-color: #141922;
    overflow-y: scroll;
    padding:15px;
}

footer{
    position:absolute;
    bottom:0;
    left:0;
    height: 80px;
    width:100%;
    background-color: #282828;
}

button{
    border:none;
    background-color: transparent;
}

header>button{
    margin:10px;
    padding:10px 20px;

    border:1px solid white;
    border-radius:20px;

    color:white;
    text-transform: uppercase;
    font-size: 0.6em;
}


#left-nav{
    float:left;
    height: calc( 100vh - 80px);
    background-color: black;
    width: 15%;
    display: flex;
    flex-direction: column;
    position:relative;
}

#big-logo{
    color:white;
    height:60px;
    padding:15px 50px 15px 15px;
}

#upper-nav{
    padding-top: 20px;
    height:130px;
}

#upper-nav div:first-child{
    border-left: 3px solid yellowgreen;
    color:white;
    margin-top: 0;
}

#upper-nav div{
    padding: 0 10px;
    margin-top: 5px;
    border-left:3px solid transparent;
}



#upper-nav img{
    display: inline-block;
    vertical-align: bottom;
    width:20px;
}

#upper-nav p{
    display: inline-block;
}




#middle-nav>#playlist{
    color:white;
    font-size:0.8em;
    text-align: center;
    text-transform: uppercase;
}

#middle-nav>#new-playlist{
    height: 50px;
    display: flex;
    align-items: center;
}


#new-playlist-button{
    height: 35px;
    width:35px;
    background-color: #a3a3a3;
    border:1px solid black;
    margin-right:5px;
    font-size:1.8em;
    font-weight:bold;
}


#playlists-created{
    height:120px;
    overflow-y:scroll;
}

#playlists-created>p{
    margin-top: 5px;
}


#lower-nav{
    position:absolute;
    bottom:0;
    background-color: black;
    width: 100%;

}

#install{
    font-size:0.7em;
    padding-bottom:5px;
    border-bottom:1px solid #1c1c1c;
}

#install>img{
    height:20px;
    display: inline-block;
    vertical-align: middle;
}

#user{
    color:white;
}

#user>img{
    height:20px;
    display: inline-block;
    vertical-align: middle;
    margin:10px 0;
    background-color: #808080;
    border-radius:20px;
}

#main-nav{
    width:100%;
    margin-bottom:20px;

    display: flex;
    justify-content: center;
}

.main-nav-item:first-child{
    border-bottom: 1px solid greenyellow;
}

#recently-played{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}


.container{
    position: relative;
    height: 100vh;
    width:100%;
}

.container:after{
    content: '';
    display: table;
    clear:both;
    
}

.grey-text{
    color:#666666;

}

.padding-left-nav{
    padding:0 10px;
}

.main-nav-item{
    color:#797c80;
    text-transform: uppercase;
    font-size:0.6em;
    font-weight: bold;
    margin-bottom: 1px solid transparent;
    padding:0 5px 0 5px ;
}

.title{
    color:white;
    font-size:1.1em;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.main-item{
    flex-basis: 100px;
    height: 100px;
    flex-grow: 1;
    flex-shrink: 1;
    margin:10px;
    background-color: blue;
}

